node_modules
dist
build
coverage
.nyc_output
*.tsbuildinfo

.git
.gitignore

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.idea
.vscode
.DS_Store

.env
.env.*
!.env.example
